/** Clases generales **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/** Altura del viewport **/
.vh100 {
  height: 100vh;
}
/** Contenedor centrado con Flex **/
.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Aplicando flex inferior*/
.flex-lower {
  display: flex;
  flex-direction: column-reverse;
}
/** Elementos al centro **/
.item-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** HTML INDEX **/
.splash{
  background: linear-gradient(rgb(35, 146, 63) 20%,rgb(65, 245, 146));
}

.splash h1 {
  color: beige;
  font-size: 4em;
  font-weight: bold;
}

/** HTML MAIN button **/
.btn-rg, .btn-is {
  margin-bottom: 10px;
}
.form-color{
  color:gray;
}