/** Clases generales **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/** Altura del viewport **/
.vh100 {
  height: 100vh;
}
/** Contenedor centrado con Flex **/
.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Aplicando flex inferior*/
.flex-lower {
  display: flex;
  flex-direction: column-reverse;
}
/** Elementos al centro **/
.item-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-color {
  /**background-color: #1B832C;**/
  background-color: #3498DB;
}
.btn-disabled {
  background-color: #78A98D;
}
/** HTML INDEX **/
.splash{
  background: linear-gradient(rgb(35, 146, 63) 20%,rgb(65, 245, 146));
}

.splash h1 {
  color: beige;
  font-size: 4em;
  font-weight: bold;
}

/** HTML MAIN button **/
.btn-rg, .btn-is {
  margin-bottom: 10px;
}
.form-color{
  color:rgb(39, 38, 38);
}
.bgimg{
  background-image: url('../assets/images/room1.jpg');
  background-size: cover;
  align-items: center;
}
/** HTML PERFIL **/
.top-padding{
  padding-top: 10em;
}
/** HTML REGISTRY **/
.imgback{
  background-image: url('../assets/images/student1.jpg');
  /* background-color: rgba(77, 77, 77, 0.8);
  filter:brightness(0.1); */
  height: 100vh;
  background-size: cover
}
.imgback h1{
  color: black;
}
.img-size {
  width: 200px;
}
/** LOGIN**/
.flat {
  background-image: url('../assets/images/flat.jpg');
}
.data-background{
  background-color: rgba(5, 5, 5, 0.568);
}
.data-background label{
  color: white;
  font-size: 1.5rem;

}
.view-mobile {
  display: block;
}

.view-desktop {
  display: none;
}
@media(min-width:768px) {
  .view-mobile {
    display: none;
  }

  .view-desktop {
    display: block;
  }

}
/**NAV BAR**/
nav {
  background-color:#34495E;
}

nav li{
  margin-right:0.5rem;
  margin-left:0.1rem;
}
textarea {
  resize: none;
  width: 100%;
  height: 20vh;
  background-color: white;

}
/**NEWSFEED**/
.color-style{
  background-color: #e1e4e2;
}

.backgroundMsg {
  background-color: #fff;
}

.none {
  display: none;
}

.block {
  display: block;
}

.bold {
  font-weight: bold;
}
.thumbnail {
    width: 171px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.preview {
    position: relative;
}
.preview a {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: none;
}
.file-info {
    text-align: center;
    display: block;
}.thumbnail {
    width: 171px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.preview {
    position: relative;
}
.preview a {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: none;
}
.file-info {
    text-align: center;
    display: block;
}

//estilos para el perfil
.thumbnail {
    width: 171px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.preview {
    position: relative;
}
.preview a {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: none;
}
.file-info {
    text-align: center;
    display: block;
}
#img1{
  width: 180px;
}
input[type=file] {
    position: absolute;
    visibility: hidden;
    width: 0;
    z-index: -9999;
}
