<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inicia Sesión</title>
  <!-- Framework Materialize CSS -->
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <!-- CSS Personalizado -->
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="vh100 container-flex-column">
  <div class="row">
    <div class="row">
      <div class="item-flex-center col s12">
        <h1>¡Bienvenido!</h1>
      </div>
    </div>       
    <div class="row">
      <div class="item-flex-center col s12 form-color">
        <h5>Estabamos esperando a tu regreso</h5>
      </div>
    </div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
      </div> 
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
           <label for="password">Password</label>
        </div>
      </div>
     </form>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn">log in</a>
    </div>

  <!-- Libreria JQuery  -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- JS Materialize -->
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <!-- JS Personalizado -->
  <script src="../js/main.js"></script>
</body>
</html>