<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cozy Room</title>
  <!-- Framework Materialize CSS -->
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <!-- CSS Personalizado -->
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="vh100 container-flex-column flat">
  <div class="container">
    <div class="row">
      <div class="item-flex-center col s12 form-color">
        <h1>¡Bienvenido!</h1>
      </div>
    </div>       
    <div class="row">
      <div class="item-flex-center col s12 form-color">
        <h5 class="form-color">Estabamos esperando a tu regreso</h5>
      </div>
    </div>
    <div class="row data-background">
    <form class="offset-s1 col s10 ">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
      </div> 
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
           <label for="password">Password</label>
        </div>
      </div>
    </form>
    </div>
    </div>
    <div class="row">
      <a href="newsfeed.html" class="waves-effect waves-light btn btn-color" disabled id="login">Log In</a>
    </div>
  <div class="view-desktop">
    <div class="vh100 container-flex-column">
      <figure class="item-flex-center">
        <a href="main.html">
          <img src="../assets/icons/home.png" class="img-size" alt="home">
        </a>
      </figure>
    </div>
   </div>
  <!-- Libreria JQuery  -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- JS Materialize -->
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../js/conexion.js"></script>
  <!-- JS Personalizado -->
  <script src="../js/login.js"></script>
</body>
</html>