<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Newsfeed</title>
    <!-- Framework Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
     <!-- Nav Bar -->
  <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo left">Cozy Room</a>
          <a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="perfil.html">Mi Perfil</a></li>
            <li><a href="contactos.html">Contactos</a></li>
            <li><a href="#">Mensajes</a></li>
            <li><a href="#">Configuración</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
              <li><a href="perfil.html">Mi Perfil</a></li>
              <li><a href="contactos.html">Contactos</a></li>
              <li><a href="#">Mensajes</a></li>
              <li><a href="#">Configuración</a></li>
          </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col s12 left-align">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                     <div class="public">
                      <textarea id="textarea1" style="border: none;"></textarea>
                        <label for="textarea1">¿Qué deseas publicar?</label>
                       </div>
                        <div class="pic">
                          <form action="#">
                            <div class="file-field input-field">
                              <div class="btn  btn-color">
                                <i class="material-icons">add_a_photo</i>
                                <span>Foto/Video</span>
                                  <input class="file-path validate" type="file">
                                </div>
                             <input class="file-path validate">                                  
                        </div>
                      </form>
                     </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row right-align">
          <div class="col s8 offset-s2">
            <a class="waves-effect waves-light btn btn-color left-align">Publicar</a>
          </div>
        </div>
       
        <br>
        <div class="row">
          <div class="col s2 center-align">
            <img src="../assets/images/profile_pic.jpg" alt="" class="responsive-img">
          </div>
          <div class="col s10 left">
            <h6>Nombre Apellido</h6>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <img src="../assets/images/publ.jpg" alt="" class="responsive-img">
          </div>
        </div>
        <div class="row">
          <div class="col s2 center-align">
            <img src="../assets/images/profile_pic.jpg" alt="" class="responsive-img">
          </div>
          <div class="col s10 left">
            <h6>Nombre Apellido</h6>
          </div>
          </div>
          <div class="row">
            <div class="col s12 center-align">
              <img src="../assets/images/publ.jpg" alt="" class="responsive-img">
            </div>
          </div>
          <div class="row">
              <div class="col s2 center-align">
                <img src="../assets/images/profile_pic.jpg" alt="" class="responsive-img">
              </div>
              <div class="col s10 left">
                <h6>Nombre Apellido</h6>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                <img src="../assets/images/publ.jpg" alt="" class="responsive-img">
              </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                  <img src="../assets/images/profile_pic.jpg" alt="" class="responsive-img">
                </div>
                <div class="col s10 left">
                  <h6>Nombre Apellido</h6>
                </div>
              </div>
              <div class="row">
                <div class="col s12 center-align">
                  <img src="../assets/images/publ.jpg" alt="" class="responsive-img">
                </div>
              </div>
  
    </div>
    

  <!-- Libreria JQuery  -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- JS Materialize -->
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <!-- JS personalizado -->
  <script src="../js/contactos.js"></script>
</body>
</html>